@charset "utf-8";


body {
   background-image: url('../misc/background.webp');
   background-repeat: no-repeat;
   background-size: fill;
   background-size: 100% 100%;
 }

h1 {
   text-align: center;
   font-family: Rye;
   font-size: 60px;
}

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width: 640px) {

   .gallery__img {
      width: 100px;
      height: 200px;
      object-fit: cover;

      border: 10px solid black;
      padding: 10px;
   }

   .flex-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 70px;
      padding-left: 50px;
      padding-right: 50px;
   }

   li {
      border: 10px solid black;
      padding: 30px;
      margin: 100px 0;
      text-decoration: underline;
   }

   h2 {
      text-align: center;
      font-family: Playfair Display SC;
      padding-bottom: 70px;
      padding-left: 30px;
      padding-right: 30px;
   }

}


/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 641px) {

  .gallery__img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;

      border: 10px solid black;
      padding: 10px;
   }

   .flex-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 70px;
      padding-left: 50px;
      padding-right: 50px;
   }

   li {
      border: 10px solid black;
      padding: 30px;
      margin: 100px 0;
      text-decoration: underline;
      border-left: 120px solid black;
      border-right: 120px solid black;
   }

   h2 {
      text-align: center;
      font-family: Playfair Display SC;
      padding-bottom: 200px;
      padding-left: 300px;
      padding-right: 300px;
   }
}
 