@charset "utf-8";


body {
   margin: 0;
   font-family: 'Arial, sans-serif';
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.bg-peach {
   background-color: #ffebcd; /* Light peach color for the background */
}

.card {
   background: #ffffff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   overflow: hidden;
}

.card-title {
   color: #ff69b4; /* Pink color for the header text */
}

.card-text, .list-unstyled, .card-body h4 {
   color: #666;
}

.card-body h4 {
   margin-top: 20px;
   font-size: 1.5em;
}

a {
   color: #ff69b4;
}

a:hover {
   color: #ff1493; /* Darker pink color for hover effect */
}